@media (max-width: 800px) and (min-width: 320px) {
  #title {
    font-size: 14px;
  }

  .options-box, .coffee-shop-list {
    opacity: 0.8;
    z-index: 1;
    width: 300px;
  }

  #map {
    top: 45px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
  }

  #nav-button {
    margin-left: 5px;
  }

  #hide-listings,
  #show-listings {
    width: 40%;
  }
}
